@import "./styles/animation.styles.css";

.App {
  text-align: center;
}

.typedFace {
  overflow: hidden;
  color: darkgrey;
  border-right: .05em solid slategray;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .02em;
  animation: 
    typing 5s steps(20, end),
    blink-caret .35s step-end infinite;
}
